doctype html
html
  head
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(charset="utf-8")
    title= title
    script#sap-ui-bootstrap(src="https://openui5.hana.ondemand.com/resources/sap-ui-core.js" data-sap-ui-theme="sap_belize" data-sap-ui-libs="sap.m" data-sap-ui-compatversion="edge" data-sap-ui-preload="async" data-sap-ui-resourceroots='{\
    "sap.ui.demo.walkthrough": "./"\
    }')
    script(type="text/javascript").
     sap.ui.getCore().attachInit(function () {
         new sap.ui.core.ComponentContainer({
         name: "sap.ui.demo.walkthrough",
         settings : {
            id : "walkthrough"
         }
            }).placeAt("content");
      });
  body#content.sapUiBody
    block content